<!-- Page Content -->

 <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('assets/beautiful_hair.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    
<nav class="navbar" role="navigation" style='margin-bottom: 0'>
        <div class="container">            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <% Category.all.each do |category| %>
                    <li>
                        <%= link_to category.name + 's', filter_products_path(category_name: category.name)  %>
                    </li>                   
                    <% end %>
                </ul>               
            </div>
        </div>
    </nav>


<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <h1>CHI Farouk</h1>
        </div>
    </div>

    <div id='portfolio'>
        <div class="row">
            <p></p>
            <!-- <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted"><%#= I18n.t :choose_your_best_suite%></h3>
            </div> -->
        </div>
        <div class="row">
        <% @products.each do |product| %>
            <div class="col-md-2 col-sm-6 portfolio-item">
                <a href=<%="#{product_path(product)}"%> class="portfolio-link" data-toggle="modal">                  
                    <%= image_tag product.image, class: "img-responsive" %>
                </a>
                <div class='portfolio-caption'>
                      <h4><%= product.name.capitalize %></h4>
                      <div><%= product.categories.first.try(:name) %></div>
                      <div><%= product.price %> €</div>  
                    <p class="text-muted"><%#= product.description %></p>
                </div>
                <div style='text-align: center;'>
                    <button class='btn addToCardIcon' data-id=<%=product.id%> data-toggle="popover">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    Add to card
                </button>
                </div>
            </div>
        <% end %>
    </div>
    </div>

</div>
<!-- /.container -->

<script>
$(document).ready(function(){


$('.addToCardIcon').click(function() {
    var product = this
    var id = $(this).data('id')
    if (!$('.popover').is(':visible'))    
      $.ajax({
          url: 'shopping_card',
          data: {id: id},
          method: 'POST',
          success:  function() {
                add_item_to_card()
                $('.glyphicon-remove').on('click', function() {                    
                    $(product).click();
                })
            }
          })
})

$('[data-toggle="popover"]').popover({
        title: 'Great!<span class="glyphicon glyphicon-remove" style="padding-left: 183px;"><span>',
        content: '<p>You successfully added product to your card, you can visit your <a href="/shopping_card">Shopping card</a> or continue shopping.</p>',
        html: true
});


function add_item_to_card() {
    var count_element = parseInt($('#items_count_in_card').text())
    count_element = count_element + 1;
    $('#items_count_in_card').text(count_element)
}

$('.carousel').carousel({
        interval: 5000 //changes the speed
    })
})
    
</script>


