<!-- <p id="notice"><%= notice %></p> -->

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <%= image_tag @product.image, class: 'img-responsive' %>
                    <div class="caption-full">
                        <h4 class="pull-right"><%= @product.price %> €</h4>
                        <h4><a href="#"><%= @product.name %></a>
                        </h4>
                        <p><%= @product.description %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= @reviews.count %> reviews</p>
                        <!-- <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p> -->
                        <%= render 'reviews/stars', rating: @product.avg_rating.to_int, show_rating: true %>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success" onclick="$('#review_id').show();">Leave a Review</a>
                    </div>

                    <div>
                    	<%= form_for(Review.new, html: { id: "review_id", multipart: true, remote: true, style: "display:none;"}) do |f |%>
                        <hr>

                        <div class="error-messages"></div>

						<%= f.hidden_field :product_id, value: @product.id %>
                        <%= f.hidden_field :user_id, value: current_user.try(:id) %>
                        <%= f.hidden_field :rating %>                    

                        <div class="form-group">                        

                            <div class="rating">
                                <p>
                                    <div class="form-group" id="rating_label">
                                        <%= f.label :rating %>
                                    </div>
                                    <span class="glyphicon glyphicon-star-empty" data-position=1 data-selected=0></span>
                                    <span class="glyphicon glyphicon-star-empty" data-position=2 data-selected=0></span>
                                    <span class="glyphicon glyphicon-star-empty" data-position=3 data-selected=0></span>
                                    <span class="glyphicon glyphicon-star-empty" data-position=4 data0selected=0></span>
                                    <span class="glyphicon glyphicon-star-empty" data-position=5 data-selected=0></span>
                                    <span id="review-value">0 stars</span>
                                </p>
                             </div>
                        </div>
                        <div class="form-group">  						
  							<%= f.label :text %>                    	
                    		<%= f.text_area :text, class: "form-control" %>
    					</div>                    
    					<div>
    						<%= f.submit class: "btn btn-primary" %>
                        <a class="btn btn-default" onclick="reset()">Cancel</a>
    					</div>    					
                    	<% end %>
                    </div>

                   <hr>

                 <div class="all-reviews">       
                   <% @reviews.each do |review| %>
                     <%= render 'reviews/review', review: review %> 
                   <% end %>                   
                </div> 
               </div>
            </div>
</div>

<script type="text/javascript">
    var starsContainer = document.querySelector('.rating')
    var stars = document.querySelectorAll('.rating span')
    for(var star of stars) {
        star.addEventListener('mouseover', fillStars, false );
        star.addEventListener('mouseleave', unfillStars, false );
        star.addEventListener('click', rate, false );
    }

    function fillStars(event) {
        var target = event.target
        var position = parseInt(target.dataset.position)

        for (var i=0; i<position;i++) {
            stars[i].classList.add('glyphicon-star');
            stars[i].classList.remove('glyphicon-star-empty');
        }
    }


    function unfillStars(event) {
        var target = event.target
        var position = parseInt(target.dataset.position)
        
        for (var i=0; i<position;i++) {
            if (parseInt(stars[i].dataset.selected) != 1) {
                stars[i].classList.remove('glyphicon-star');
                stars[i].classList.add('glyphicon-star-empty');
            }
        }
    }

    function rate(event) {
        var target = event.target
        var position = parseInt(target.dataset.position)
        document.querySelector('#review_rating').value = position
        document.querySelector('.rating span#review-value').innerText = position + ' Stars'

        for (var i=0; i<position;i++) {
            stars[i].classList.add('glyphicon-star');
            stars[i].classList.remove('glyphicon-star-empty');
            stars[i].dataset.selected = 1;
        }
        for (var i=position; i< 5; i++) {
            stars[i].dataset.selected = 0;
            stars[i].classList.remove('glyphicon-star');
            stars[i].classList.add('glyphicon-star-empty');
        }
    }

    function reset() {
        for (var i=0; i< 5; i++) {
            stars[i].dataset.selected = 0;
            stars[i].classList.remove('glyphicon-star');
            stars[i].classList.add('glyphicon-star-empty');
        }

        document.querySelector('#review_rating').value = null
        document.querySelector('.rating span#review-value').innerText = 0 + ' Stars'

        $('#review_id').hide()
        $('#review_text').val('');
    }
</script>