<!DOCTYPE html>
<html>
  <head>
    <title>CHI Shampoos</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!-- Navigation -->
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=<%= root_path %>>
                <!-- CHI Shampoos -->
                <%= image_tag 'chi-logo.jpg' %>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? && current_user.admin? %>
                      <li>
                          <%= link_to 'Admin', manage_products_path %>
                      </li>
                    <% end %>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">    
                  <li>
                    <a href="/shopping_card" class="navbar-link", style="padding-right:7px;">
                      <%= image_tag 'shopping-icon.png', id: 'shopping-icon' %>
                      <%= image_tag 'shopping-card-circle.png', id: 'shopping-card-circle' %>
                      <span id="items_count_in_card" style="
    position: relative;
    left: -24px;
    bottom: 7px;
        font-size: 13px;"
>
  <% if @shopping_card.present?  %>
    <%= @shopping_card.card_items.sum(:quantity) %>
  <% else %>
    0
  <% end %>  
</span>
                     <span style="position: relative;
    right: 12px;"><%= I18n.t :shopping_card %></span>
                    </a>
                  </li>
                  
                
                  <li class="dropdown">
                    <a id="drop4" role="button" data-toggle="dropdown" href="#">My Profile <b class="caret"></b></a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                      <% if user_signed_in? %>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href=<%=edit_user_registration_path%> >Edit profile</a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href=<%=destroy_user_session_path%> data-method="delete">Logout</a>
                      </li>
                     <% else %>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href=<%=new_user_registration_path%> >Sign up</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href=<%=new_user_session_path%> >Login</a>
                        </li>
                     <% end %>        
                    </ul>
                  </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <% if notice %>
  	  <p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
  	  <p class="alert alert-danger"><%= alert %></p>
	  <% end %>

    <%= yield %>

       <!-- Footer -->
    <div class='container'>
	    <hr>
	    <footer>
	        <div class="row">
	            <div class="col-lg-12">
	                <p>Copyright &copy; Chi Shampoos 2018</p>
	            </div>
	        </div>
	        <!-- /.row -->
	    </footer>
    </div>
  </body>
</html>
